@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

/* navbar css */
.navbar {
  background-color: #333;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #252424;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  z-index: 0;
}

.dropdown-menu li {
  margin-bottom: 10px; /* add some space between menu items */
}

.dropdown-menu li a {
  color: #fff; /* change text color to white */
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: #444; /* change background color on hover */
  color: #fff; /* keep text color white on hover */
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: white;
  }
}
